{% load templatetag_handlebars %}
{% tplhandlebars "create-box-for-major" %}

<div class='median-box col-xs-3 col-md-2'>
    <!--Check if i is one-->
    {{ #if i }}
    <div class='data-heading'><p>Median GPA
        <a class='inlineHelp' id='medianHelp' tabindex='0' role='button' aria-label='Info about median GPA' data-toggle='popover' data-trigger='focus' data-content=''>
            <span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>
        </a></p>
    </div>
    {{ /if }}
    <!--end of check-->
    <h4 class='median-value'>{{ display_median }}</h4>
</div>
<div class='data-display col-xs-9 col-md-6'>
    <!--Check if i is one-->
    {{ #if i }}
    <p class='data-heading'>Distribution
        <a class='inlineHelp' id='distributionHelp' tabindex='0' role='button' aria-label='Info about GPA distribution' data-placement='top' data-toggle='popover' data-trigger='focus' data-html='true' data-content='<p><b>Distribution</b></p><p><img width="100%" src="{{ boxplot_image }}" alt="Boxplot legend"></p><p><a href="resources.html"> Learn more about the Lower Quartile, Median GPA, and Upper Quartile.</a> </p>'>
            <span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span>
        </a>
    </p>
    {{ /if }}
    <!--end of check-->
    <!-- <div> boxplot added here???? let me wrap it with div and h4 <h4>Median GPA distribution</h4></div> -->
</div>
<div class='course-link col-xs-12'>
    <a href='course-gpa?code={{ major_id }}'>&gt; View most commonly taken courses in this major</a>
</div>

{% endtplhandlebars %}
