{% load templatetag_handlebars %}
{% tplhandlebars "create-major-card" %}

<div class='major-card row' id='{{ id }}' aria-live="assertive">
    <div class='card-heading col-xs-12 col-md-4'>
	    <h3 class="sr-only">{{{ major_status_url }}}</h3>
        <p class='college-heading'>{{ college }} - {{ campus }}</p>
        <h4 class='major-heading row'>{{{ major_status_url }}}<div class="major-status">{{{ major_status_icon }}}  {{{ major_status_text }}}</div></h4>
    </div>
</div>

{% endtplhandlebars %}
