{% load pivot_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title> Pivot : Help your students make the best move.</title>

<!-- jQuery for D3 -->
        <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>


<!-- Bootstrap : COPIED FROM INDEX.HTML-->
      <!-- Main Bootstrap CSS files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
      <!-- Main Bootstrap JS file -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      {% load static %}
      {% load compress %}

      {% compress css %}
      <link rel="stylesheet" type="text/less" href="{% static 'pivot/css/styles.less' %}"/>
      {% endcompress %}
      
<!-- Fontawesome CDN-->
		<script src="https://use.fontawesome.com/c89804655d.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<!-- TOP PURPLE BANNER -->
<div class="page-wrap"> <!-- another wrap to make a sticky footer -->
	<header class="topbanner-bg">
		<div class="container" role="banner">
	<!-- NAV -->
			<section class="topbanner" role="navigation">
				<nav class="navbar navbar-default">
					<span class="sitename">Pivot</span>
					<span class="tagline">Help your students make the best move</span>
			<!-- Hide NetID for Beta 		<div class="login"> Hi, netid123 </div> -->
			<!-- Hamberger for 768px -->
					<div class="navbar-header" >
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" aria-expanded="true">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						    </button>
					</div>	<!-- END OF navbar-header -->
					<!-- END OF hamburger view -->
					<div class="navbar-collapse collapse" id="menu" aria-expanded="true">
				    	<ul class="nav navbar-nav underline">
					    	<li role="presentation"><a href="/major-gpa/">View Major GPAs</a></li>
					    	<li role="presentation"><a href="/course-gpa/">View Course GPAs</a></li>
					    	<li role="presentation"><a href="/about/">About Pivot</a></li>
					    </ul>
				    </div><!-- END OF navbar-collapse -->

				</nav>
			</section>
		</div>	<!-- END OF CONTAINER -->
	</header>

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<div class="container" role="main">
		<section class="main-content">  <!-- //NFS: UNSURE NEED A SECTION OF NOT// -->
		    <h1 class="page-title">Oops!</h1>
			<section>
				<h3>We can't seem to find the page you're looking for.</h3>
                <p>Error code: 404</p>
                <br/>
                <p>Need help? <a href="mailto:{{ support_email }}&subject=Pivot%20Feedback">Contact the Pivot team</a>.</p>
			</section>


		</section>	<!-- end of main -->

	</div>  <!-- end of main container -->
</div> <!-- end of .page-wrap  -->
<!-- FOOTER STUFF -->

<div role="contentinfo">
	<footer class="site-footer">
		<div class="container center">
				<div class="footer-links">
	                <ul>
		                <li><a href="/about/" title="">About Pivot</a></li>
		                <li><a href="/feedback/" title="">Feedback</a></li>
	                    <li><a href="http://www.washington.edu/online/terms/" target="_blank" title="Go to the University of Washington Website Terms and Conditions of Use">Terms </a></li>
	                    <li><a href="http://www.washington.edu/online/privacy/" target="_blank" title="Go to the University of Washington Online Privacy Statement">Privacy</a></li>
	                    <li><a href="{% get_settings_value 'LOGOUT_URL' %}" title="">Log out</a></li>
	                </ul>
	            </div><!-- end of footer links -->
	            <p class="credit">©2016 University of Washington Information Technology </p>
                {% load static %}
	            <div><img src="{% static 'pivot/img/InfoTech_UW_footer.png' %}"  class="uw-it-logo" alt="UW-IT logo"></div>
		</div><!-- end of footer content -->
	</footer>
</div><!-- footer role -->
  </body>
</html>
