{% load staticfiles %}
{% load pivot_extras %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Pivot:  {% block title %}{% endblock %}</title>
        {% include "head.html" %}
    </head>

<body>
    <div class="page-wrap"> <!-- another wrap to make a sticky footer -->
        <header class="topbanner-bg" role="banner">
            <div class="container" >
                <!-- NAV -->
                <section class="topbanner" >
	                <a href="#maincontent" id="shortcut" class="skip-to-main">skip to main content</a>
                    <nav class="navbar navbar-default" role="navigation">
                        <a href="/major-gpa/" class="no-hover"><span class="sitename">Pivot</span></a>
                        <span class="tagline">Help your students make the best move</span>
                        <!-- Hide NetID for Beta 		<div class="login"> Hi, netid123 </div> -->
                        <!-- Hamburger for 768px -->
                        <div class="navbar-header" >
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" aria-expanded="true" aria-label='navigation menu'>
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>	<!-- END OF navbar-header -->
                        <!-- END OF hamburger view -->
                        <div class="navbar-collapse collapse" id="menu" aria-expanded="true">
                            <ul class="nav navbar-nav underline">
                                <li role="presentation" {% if request.path == '/major-gpa/' %} class="active"{% endif %}><a href="/major-gpa/" title="View the Median GPA of major of your interest">View Major GPAs</a></li>
                                <li role="presentation" {% if request.path == '/course-gpa/' %} class="active"{% endif %}><a href="/course-gpa/" title="View GPA of commonly taken courses among declared students ">View Course Grades</a></li>
                                <li role="presentation" {% if request.path == '/about/' %} class="active"{% endif %}><a href="/about/" title="Frequently Asked Questions, about Pivot data, terms, and more">About Pivot</a></li>
                            </ul>
                        </div><!-- END OF navbar-collapse -->

                    </nav>
                </section>
            </div>	<!-- END OF CONTAINER -->
        </header>

        {% block web_content %}{% endblock %}

    </div> <!-- end of .page-wrap  -->
    <!-- FOOTER STUFF -->

<div>
	<footer class="site-footer" role="contentinfo">
		<div class="container center">
				<div class="footer-links">
	                <ul>
                        <!-- Advisor Onboarding Trigger: removed by cstimmel per GPS-322
                        <li><a style="color: red !important;" data-toggle="modal" data-target="#onboard-modal" title="Onboarding">Onboarding</a></li> -->
                        <li><a href="/about/" title="Frequently Asked Questions, about Pivot data, terms, and more">About Pivot</a></li>
                        <li><a href="/feedback/" title="Send us feedback">Feedback</a></li>
	                    <li><a href="http://www.washington.edu/online/terms/" target="_blank" title="University of Washington Website Terms and Conditions of Use">Terms </a></li>
	                    <li><a href="http://www.washington.edu/online/privacy/" target="_blank" title="University of Washington Online Privacy Statement">Privacy</a></li>
	                    <li><a href="{% get_settings_value 'LOGOUT_URL' %}" title="Log out from Pivot">Log out</a></li>
	                </ul>
	            </div><!-- end of footer links -->
	            <p class="credit">©2016 University of Washington Information Technology </p>
	            <div><img src="{% static "pivot/img/InfoTech_UW_footer.png" %}"  class="uw-it-logo" alt="UW-IT logo"></div>
		</div><!-- end of footer content -->
	</footer>

    <!-- contact advisor tab -->
    <!--<div id="contact">Contact Adviser</div>
        <div id="blurb"><h4>Your undergraduate adviser can help you further </h4><p>Sign up for 30-minute advising appointments at the Undergraduate advising office (9am to 4:30pm, Mon - Fri) through our <a href="http://www.washington.edu/uaa/advising/appointments/" target="_blank">online appointment scheduler</a> or call (206) 543-2550. For a walk-in appointment, visit Mary Gates Hall #141.</p>
    </div>-->


    <!-- ADVISOR ONBOARDING MODAL -->
    <div class="modal fade" id="onboard-modal" role="dialog" tabindex="0" aria-labelledby="welcome-adviser" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="welcome-adviser">Welcome to Pivot</h2>
                    <button id="close-modal-btn-top" type="button" class="close modal-close-btn" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>What data can I see on Pivot?</h3>
                    <p>The median GPA and grade distribution of declared students and the 10 most commonly taken courses by students</p>
                    <h3>How will it support my work? </h3>
                    <p>Pivot supports a wide range of UW roles, such as advisers who are helping students applying to a capacity-constrained major and departmental admins who make curriculum decisions.</p>
                    <h3>Before you get started </h3>
                    <ul class="bullet-list">
                        <li>Pivot uses box plots to visualize the GPA data. New to box plots? Visit <a href="about.html">About Pivot.</a> </li>
                        <li>Recent changes in the data may not be reflected because Pivot provides aggregated, historical data. </li>
                        <li>Remember GPA is just one of many factors that goes into admission decisions. </li>
                    </ul>
                </div>
                <div class="modal-footer btn-align-left">
                    <button id="perm-forget-modal" type="button" class="btn btn-default" data-dismiss="modal">I got it! </button>
                </div>
            </div>

        </div>
    </div> <!-- end Modal -->


</div><!-- footer role -->
<script src="{% static "pivot/js/alias.js" %}"></script>
<script src="{% static "pivot/js/main.js" %}"></script>
<script src="{% static "pivot/js/handlebars_helper.js" %}"></script>
{% if request.path == '/major-gpa/' %}<script src="{% static "pivot/js/major.js" %}"></script>{% endif %}
{% if request.path == '/course-gpa/' %}<script src="{% static "pivot/js/course.js" %}"></script>{% endif %}
{% include "handlebars/no-results.html" %}
{% include "handlebars/display-results.html" %}
{% include "handlebars/update-events.html" %}
{% include "handlebars/multiple-results.html" %}
{% include "handlebars/list-courses-for-major-outer.html" %}
{% include "handlebars/feedback.html" %}
{% include "handlebars/display-major-status-url.html" %}
{% include "handlebars/display-major-status-icon.html" %}
{% include "handlebars/major-prepare-results.html" %}
{% include "handlebars/prepare-results.html" %}
{% include "handlebars/finish-results.html" %}
{% include "handlebars/finish-results-divider.html" %}
{% include "handlebars/populate-college-dropdown.html" %}
{% include "handlebars/populate-college-dropdown-college-selection.html" %}
{% include "handlebars/create-major-card.html" %}
{% include "handlebars/create-no-data-card.html" %}
{% include "handlebars/create-box-for-major.html" %}
{% include "handlebars/distribution-help-popover.html" %}
{% include "handlebars/median-help-popover.html" %}
{% include "handlebars/add-popover.html" %}
{% include "handlebars/major-display-results.html" %}
{% include "handlebars/no-results-college.html" %}
{% include "handlebars/show-compare-module.html" %}
{% include "handlebars/show-year-select-module.html" %}
{% include "handlebars/validate-gpa.html" %}
{% include "handlebars/protected-result-warning.html" %}
{% include "handlebars/protected-major-message-card.html" %}
{% include "handlebars/admission-type-help-popover.html" %}
{% include "handlebars/invalid-major-code-warning.html" %}
</body>
</html>
