{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">
		<div class="main-content" id="maincontent"> 
		    <h1 class="page-title">View Course GPAs</h1>
		    <section>
			    <div class="panel panel-default search-box">
				  <div class="panel-body">
                      <div class="container" role="search">
				   
					<div class="row no-gutters">
                      <p class="search-text">Enter a major name to view most commonly taken courses among declared students.</p>
                          
                        <div class="col-xs-12 col-sm-2"><!-- TODO ADD BOOTSTRAP CLASS TO REMOVE LEFT & RIGHT GUTTERS -->
                            <div class="form-group">
                                <!-- college search: button and ul tags create dropdown -->
                                <div class="btn-group" id="college-dropdown" style="width:100%">
                                    <button class="btn btn-default" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%;text-align:left;">
                                    All
                                    <span class="caret"></span>
                                    </button>
                                    <!-- JS generated college list goes in ul -->
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5"><!-- TODO ADD BOOTSTRAP CLASS TO REMOVE LEFT & RIGHT GUTTERS -->
                            <div class="form-group" role="search">
                                <!-- major search -->
                                <label for="search" class="sr-only">Enter a major name to look up</label> 
                                <input id="search" class="form-control" type="text" name="searchQuery" value="" size="30" tabindex="0" data-save-value="true" data-role="Control" data-control_for="search" placeholder="e.g. Computer Science, Art History" autocomplete="off"/><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"> </span>
					            <!-- search results go in #suggestions -->
					            <div id="suggestions"></div>
					            <!-- hidden div to track selected majors -->
                                <div class="selected" id="selected-course-page"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4"><!-- TODO ADD BOOTSTRAP CLASS TO REMOVE LEFT & RIGHT GUTTERS -->
                            <div class="form-group no-btm-margin">
                                <!-- search buttons -->
                                <button class="btn btn-GPS-primary disabled" type="submit" id="goBtn">Go</button>
					            <button type="button" class="btn btn-link" id="clear_majors">Clear selection</button>
                            </div>
                        </div>
                          </div><!-- end of .row -->
                    </div><!-- of .container -->
				  </div><!-- end of .panel-body -->
				</div><!-- end of .panel panel-default -->
		    </section>
            <!-- placeholder for 0 results warning -->
            <section class='no-results-warning'>
            </section>
    <!-- Sample data placeholder -->	
    		<section class="sample-data"><img src="{% static "pivot/img/sample-courseGPA.png" %}" alt="a sample course GPAs list - informatics" width="743px" height="666px">
	    	</section><!-- end of sample data placeholder -->
	<!-- DISPLAY DATA -->	
		    <section class="results-section">
				<div class="row course-h2"><h2>Most commonly taken courses among students who declared</h2>   
				</div><!-- end of row -->
				<div>
				  <div class="panel-body major-data-look">
				  
				<!-- data display in #courselist -->
			        <div id="courselist"></div>
			        
				  
				  </div> <!-- end of .panel-body major-data-look -->
				</div> <!-- end of .panel panel-default --> 
		    </section>
		
		</div>	<!-- end of main -->
	
	</main>  <!-- end of main container -->
{% endblock %}
