{% extends "base.html" %}
{% block title %}Course GPA{% endblock %}
{% load staticfiles %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->
  	<main class="container" role="main">

		<div class="main-content" id="maincontent">

		    <h1 class="page-title">View Course Grades</h1>
		    <section>
			    <div class="panel panel-default search-box">
				  <div class="panel-body">
                      <div class="container search-module">

					<div class="row no-gutters" role="search">
						<p class="search-text">Enter a major name to view most commonly taken courses among declared students.</p>
	                      <div class="col-xs-12 col-sm-10">
						    <!-- NEW SEARCH FORM BEGINS -->
						    <div class="input-group">
						      <div id="college-dropdown" class="input-group-btn">
                                <label id="college-dropdown-label" class="sr-only">Optional: Filter majors by first selecting a college.</label>
						        <button id="dropdownMenu" type="button" class="btn btn-default dropdown-toggle dropdown-text" data-toggle="dropdown" aria-controls="college-dropdown-list"  aria-haspopup="true" aria-expanded="true" aria-labelledby="college-dropdown-label" label="College" aria-label="college">All<span class="caret"></span></button>

						        <!-- JS generated college list goes in ul -->
						        <ul id="college-dropdown-list" class="dropdown-menu" aria-labelledby="college-dropdown-label" role="listbox" aria-activedescendant="college-opt1">
						        </ul>
						      </div><!-- .input-group-btn -->
							  <!-- major search -->

						     <div class="form-group">
							      <label for="search" class="sr-only" >Major</label>
							      <div class="sr-only" id="search-description">Enter the name of a major. Matches results will be shown below as you type.</div>
								  <input id="search" type="text" class="form-control" name="searchQuery" value="" size="" tabindex="0" data-save-value="true" data-role="Control" data-control_for="search" placeholder="e.g. Biology, etc." autocomplete="off" aria-describedby="search-description" aria-owns="suggestions" aria-haspopup="true" aria-expanded="false" aria-autocomplete="both" aria-activedescendant="">
								  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"> </span>

						      <!-- search results go in #suggestions -->
					            <div id="suggestions" role="listbox"></div>
					            <!-- hidden div to track selected majors -->
                                <div class="selected" hidden="true"></div>
							</div>	<!-- .form-group for Search label +input -->
						      <div class="input-group-btn" id="selected-course-page">
							      	<button class="btn btn-default btn-search" type="submit" id="goBtn"><i class="glyphicon glyphicon-search" aria-hidden="true"></i><span class="sr-only">search</span></button>
							  </div><!--Go button .input-group-btn -->

                          	</div><!--  .input-group -->
                          	<div class="clear-btn"><button type="button" class="btn btn-link" id="clear_majors" label="clear selected majors" aria-label='clear selected majors'>Clear selections</button>
                          	</div>
                          </div><!--  .col-xs-12 col-sm-10??? -->
                          </div><!-- end of .row THIS IS THE CLOSURE OF THE ROW DIV -->
                    </div><!-- of .container -->
				  </div><!-- end of .panel-body -->
				</div><!-- end of .panel panel-default -->
		    </section>
            <!-- spinner for loading animation --!>
            <div class="loader"></div>
            <!-- placeholder for 0 results warning -->
            <section class='no-results-warning' role="alert">
			</section>
			<section class='invalid-major-code-warning' role="alert"></section>
            <section class='protected-result-warning' role="alert">
            </section>
    <!-- Sample data placeholder -->
    		<section class="sample-data">
                <img src="{% static "pivot/img/sample-courseGPA.png" %}" alt="a sample course GPAs list - informatics" width="743px" height="666px">
	    	</section><!-- end of sample data placeholder -->
	<!-- DISPLAY DATA -->
		    <section class="results-section">
				<div class="panel-body major-data-look">
				<div class="row course-h2"><h2>Most commonly taken courses among students who declared...</h2>
				</div><!-- end of row -->

				<div>
				  <div class="major-data-look">

				<!-- data display in #courselist -->
			        <div id="courselist"></div>


				  </div>
				</div> <!-- end of .panel panel-default -->
				</div> <!-- end of .panel-body major-data-look -->
		    </section>

		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->
{% endblock %}
