{% extends "base.html" %}
{% load staticfiles %}
{% block web_content %}

<!-- MAIN CONTENT BELOW THE BANNER -->	
  	<div class="container" role="main">
		<section class="main-content">  <!-- //NFS: UNSURE NEED A SECTION OF NOT// -->
		    <h1 class="page-title">Feedback</h1>
			<section>
				<p>Send your feedback to Henry Lyle, <a href="mailto:lyle3@uw.edu?cc=abievans@uw.edu, hlee2@uw.edu&subject=GPS%20Feedback">lyle3@uw.edu</a>.</p>
			</section>	
		    

		</section>	<!-- end of main -->
	
	</div>  <!-- end of main container -->
{% endblock %}