{% load staticfiles %}
<!-- stylesheets -->
<link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/css/bootstrap-theme.min.css" %}">
<link rel="stylesheet" href="{% static "pivot/css/styles.css" %}"/>

<!-- javascript -->
<script src="{% static "vendor/js/jquery-3.1.1.min.js" %}"></script>
<!--<script src="{% static "vendor/js/d3-v4.4.1.min.js" %}" charset="utf-8"></script>-->
<script src="{% static "vendor/js/d3.v3.min.js" %}" charset="utf-8"></script>
<script src="{% static "vendor/js/bootstrap.min.js" %}"></script>
<script src="{% static "vendor/js/handlebars-v4.0.5.js" %}"></script>
<script src="{% static "vendor/js/html5shiv.min.js" %}"></script>
<script src="{% static "vendor/js/respond.min.js" %}"></script>
<script src="https://use.fontawesome.com/c89804655d.js"></script>
<script src="{% static "pivot/js/horizontal-box.js" %}"></script>


<!-- static paths -->
<script>
    var images_paths = {
            'capacity-constrained': "{% static "pivot/img/major_capacity-constrained.gif" %}",
            'mixed': "{% static "pivot/img/major_mixed.gif" %}",
            'minimum': "{% static "pivot/img/major_minimum.gif" %}",
            'open': "{% static "pivot/img/major_open.gif" %}",
            'boxplot': "{% static "pivot/img/boxplot-legend-crop@2x.png" %}"

    };
</script>
