{% extends "base.html" %}
{% block title %}Major GPA{% endblock %}
{% load staticfiles %}

{% block web_content %}

  	<main class="container" role="main">

		<div class="main-content" id="maincontent">

		    <h1 class="page-title">View Major GPAs</h1>
		    <section>
			    <div class="panel panel-default search-box">
				  <div class="panel-body">
					  <div class="container search-module">

						<div class="row no-gutters" role="search">

 	                      <p class="col-xs-12 col-sm-11 search-text">Enter the name of a major to view its median GPA or select a college to view all of its majors. You can select multiple majors from the suggested list.   </p>
	                      <div class="col-xs-12 col-sm-10">
 						    <!-- NEW SEARCH FORM BEGINS -->
 						    <div class="input-group">
						      <div id="college-dropdown" class="input-group-btn">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="dropdownMenu" style="width:100px;text-align:left;" label="College" aria-label='college'>All<span class="caret"></span></button>
 						        <!-- JS generated college list goes in ul -->
 						        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
 						        </ul>
						      </div><!-- .input-group-btn -->
							  <!-- major search -->
 
						     <div class="form-group">
							      <label for="search" class="sr-only">Major</label>
							      <div class="sr-only" id="search-description">Enter the name of a major. Matches results will be shown below as you type.</div>
 								  <input id="search" type="text" class="form-control" name="searchQuery" value="" size="" tabindex="0" data-save-value="true" data-role="Control" data-control_for="search" placeholder="e.g. Biology, English, etc." autocomplete="off" aria-describedby="search-description" aria-owns="suggestions" aria-haspopup="true" aria-expanded="false" aria-autocomplete="both" aria-activedescendant="">
								  <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"> </span>

						      <!-- search results go in #suggestions -->
					            <div id="suggestions" role="listbox"></div>
 					            <!-- hidden div to track selected majors -->
                                 <div class="selected" hidden="true"></div>
							</div>	<!-- .form-group for Search label +input -->
						      <div class="input-group-btn">
							      	<button class="btn btn-default btn-search" type="submit" id="goBtn"><i class="glyphicon glyphicon-search" aria-hidden="true"></i><span class="sr-only">search</span></button>
							  </div><!--Go button .input-group-btn -->

                          	</div><!--  .input-group -->
                          	<div class="clear-btn"><button type="button" class="btn btn-link" id="clear_majors" label="clear selected majors" aria-label='clear selected majors'>Clear selections</button>
                          	</div>
                          </div><!--  .col-xs-12 col-sm-10??? -->
                        </div><!-- end of .row -->
                    </div><!-- of .container -->
				  </div><!-- end of .panel-body -->
				</div><!-- end of .panel panel-default -->
		    </section>
           <!-- placeholder for 0 results warning -->
            <div class='no-results-warning' role="alert">
            </div>
            <div class='protected-result-warning' role="alert">
            </div>
    <!-- Sample data placeholder -->
    		<section class="sample-data">
                <img src="{% static "pivot/img/sample-majorGPA.png" %}" alt="Sample major data - informatics" width="743px" height="666px">
	    	</section><!-- end of sample data placeholder -->
	<!-- DISPLAY DATA -->
		    <section class="results-section">
				<div class="panel-default">
				  <div class="panel-body major-data-look">
				    <div class="row" id="header-row">
                        <h2> Showing median cumulative GPAs of ...</h2>
                    </div>
				<!-- data display in #boxplots -->
			        <div id="boxplots"></div>


				  </div> <!-- end of .panel-body major-data-look -->
				</div> <!-- end of .panel panel-default -->
		    </section>

		</div>	<!-- end of main -->

	</main>  <!-- end of main container -->

{% endblock %}
