{% load templatetag_handlebars %}
{% tplhandlebars "add-popover" %}
<div>
<div class="distributionPopover">
    <div class='boxLegend LQ'></div>
    <p>
        Lower&nbsp;quartile:&nbsp;{{ lower_quartile }}
    </p>
</div>
<div class="distributionPopover">
    <div class='boxLegend MD'></div>
    <p>
        Median:&nbsp;{{ median }}
    </p>
</div>
<div class="distributionPopover">
    <div class='boxLegend UQ'></div>
    <p>
        Upper&nbsp;quartile:&nbsp;{{ upper_quartile }}
    </p>
</div>

<div class="distributionPopover">
    <p>
        Number&nbsp;of&nbsp;Students:&nbsp;{{ count }}
    </p>
</div>
</div> <!-- .popover-content-->
{% endtplhandlebars %}
