{% load templatetag_handlebars %}
{% tplhandlebars "admission-type-help-popover" %}

{{#ifEquals major_status_text "open" }}
<p><b>Open Major</b></p>
<p>Open majors can be declared at any time by any student in good standing (not on academic probation).</p>
{{/ifEquals}}

{{#ifEquals major_status_text "capacity-constrained" }}
<p><b>Capacity-constrained Major</b></p>
<p>Students must complete all minimum requirements to apply and must then compete with the entire applicant pool for a limited number of spaces. These majors often have application forms and application deadlines; some of them require standardized tests, recommendations, and/or interviews.</p>
{{/ifEquals}}

{{#ifEquals major_status_text "minimum" }}
<p><b>Minimum Major</b></p>
<p>Requires students to complete satisfactorily a set of prerequisite courses with a minimum GPA. All students who meet the minimum requirements are admitted.</p>
{{/ifEquals}}

{{#ifEquals major_status_text "mixed" }}
<p><b>Mixed Major</b></p>
<p>Entry to the major may be either open, minimum, or capacity-constrained, depending on the concentration/option chosen.</p>
{{/ifEquals}}

{% endtplhandlebars %}
