<!-- Template for the distribution help popover (explaining quartiles/median) -->
{% load templatetag_handlebars %}
{% tplhandlebars "distribution-help-popover" %}
<p>
	<b>Distribution</b>
</p>

<p>
	<img src="{{ boxplot_image }}" alt="GPA distribution graph, called Boxplot, shows 50% of GPAs fall in between lower quartile and upper quartile. ">
</p>
<p>
	<a href="/about/" title="More about the boxplot"> Learn more about the Lower Quartile, Median GPA, and Upper Quartile.</a>
</p>

{% endtplhandlebars %}