{% load templatetag_handlebars %}
{% tplhandlebars "populate-college-dropdown" %}

<li role="option" id="college-opt1" aria-selected="true" class="active"><a href="#">All Colleges</a></li>
<li class="divider"><hr class="sr-only" /></li>
<!--Campus name followed by colleges-->
{{ #each campus_college }}
    <!--Dont display before first campus-->
    {{ #if @index }}
        <li class="divider"><hr class="sr-only" /></li>
    {{ /if }}

    <span class="dropdown-header college-list">Colleges in {{ this.campus }} campus:</span>

    {{ #each this.colleges }}
        <!--Add colleges here-->
        <li role="option"><a href="#" class="{{ ../this.campus }}">{{ this }}</a></li>
    {{ /each }}
{{ /each }}

{% endtplhandlebars %}
