{% verbatim %}
<script id="tpl-populate-college-dropdown" type="text/x-handlebars-template">

<li role="option" id="college-opt1" aria-selected="true" class="active college-list" tabindex="0">All Colleges</li>
<li class="divider"><hr class="sr-only" /></li>
<!--Campus name followed by colleges-->
{{ #each campus_college }}
    <!--Dont display before first campus-->
    {{ #if @index }}
        <li class="divider"><hr class="sr-only" /></li>
    {{ /if }}

    <li class="dropdown-header pivot-dropdown-header" tabindex="0">Colleges in {{ this.campus }} campus:
		<ul style="" class="pivot-dropdown-nested"> <!-- campus as nested list-->
    {{ #each this.colleges }}
        <!--Add colleges here-->
        <li class="college-list {{ ../this.campus }}" role="option" tabindex="0">{{ this }}</li>
    {{ /each }}
		</ul>
    </li>
{{ /each }}

</script>
{% endverbatim %}
