# Sample config.r file for enterprise data connections

# Mask these connection vars for git repo.
# req:
#   DNS string
#   Database name(s) (or feel free to create separate DNS entries for different DBs)
#   UID
# if running from rstudio, password will always prompt

dabs <- c("SomeDatabase", "AnEnterpriseDataWarehouse")    # add more here as necessary
uid <- "netid\\xxxxx"
dns <- "my_dns_name"